.faq-header {
    padding: 20px;
    background-color: #242424;
}

.sub-faq {
    text-align: center;
    margin-bottom: 20px;
}

.sub-faq h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.sub-faq p {
    font-size: 1.2rem;
    color: #ffffff;
}

.faq-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.faq-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #555555;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.faq-answer {
    margin-top: 10px;
    font-size: 1rem;
    color: #ffffff;
}

.faq-icon {
    margin-left: 10px; 
    margin-left: auto; 
}

/* Media queries for responsiveness */

/* For larger screens such as desktop */
@media (min-width: 1024px) {
    .sub-faq h1 {
        font-size: 2.5rem;
    }

    .sub-faq p {
        font-size: 1.5rem;
    }

    .faq-question {
        font-size: 1.5rem;
    }

    .faq-answer {
        font-size: 1.2rem;
    }
}

/* For tablet screens such as iPad */
@media (max-width: 1023px) and (min-width: 768px) {
    .sub-faq h1 {
        font-size: 2rem;
    }

    .sub-faq p {
        font-size: 1.3rem;
    }

    .faq-question {
        font-size: 1.3rem;
    }

    .faq-answer {
        font-size: 1.1rem;
    }
}

/* For mobile screens */
@media (max-width: 767px) {
    .sub-faq h1 {
        font-size: 1.5rem;
    }

    .sub-faq p {
        font-size: 1rem;
    }

    .faq-question {
        font-size: 1.1rem;
    }

    .faq-answer {
        font-size: 0.9rem;
    }
}

/* For very small screens such as small mobile devices */
@media (max-width: 480px) {
    .sub-faq h1 {
        font-size: 1.2rem;
    }

    .sub-faq p {
        font-size: 0.9rem;
    }

    .faq-question {
        font-size: 0.9rem;
        flex-direction: row;
        align-items: center; 
    }

    .faq-icon {
        margin-left: auto;
        margin-top: 0;
    }

    .faq-answer {
        font-size: 0.8rem;
    }
}
