/* General styles for the navigation bar */
nav {
    color: black;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    position: fixed; /* Fixed to the top */
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures the navbar stays on top of other content */
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

/* Adjust body to account for the fixed navbar */
body {
    margin: 0;
    padding-top: 60px; /* Adjust according to the height of your navbar */
}

/* Logo styling */
nav h2 {
    margin: 0;
    font-size: 24px;
    padding-left: 2rem;
    color: #000;
}

/* Navigation links */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffa500;
}

/* Connect button */
.connect {
    padding: 8px 16px;
    background: linear-gradient(45deg, #934600, #ff7f00);
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.connect:hover {
    background-color: #ffa500;
}

/* Menu icon */
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Media queries for responsiveness */

/* For tablet and mobile screens */
@media screen and (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #333;
        padding: 10px;
        border-radius: 8px;
        width: 200px; /* Adjust width as needed */
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .connect {
        display: block;
        padding: 8px 12px;
        font-size: 14px;
        margin-top: 10px;
    }
}

/* For very small mobile screens */
@media screen and (max-width: 480px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .connect {
        display: block;
        margin-top: 10px;
        position: static;
    }
}
