/* Footer.css */

.footerHeader {
  background-image: linear-gradient(
      rgba(35, 24, 137, 0.5),
      rgba(32, 56, 177, 0.5)
    ),
    url("../../components/../assets/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  color: white;
}

.first-footer {
  padding-left: 20px;
}

.first-footer h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  line-height: 1.4;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.subscribe-form input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 250px;
  margin-bottom: 10px;
}

.subscribe-form button {
  padding: 10px 20px;
  background: linear-gradient(45deg, #934600, #ff7f00);
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
}

.--footer {
  background-size: cover;
  /* padding: 40px; */
}

.--footer-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.--contact {
  flex: 1;
  margin: 20px;
  padding-right: 20px;
}

.links {
  flex: 1;
  margin: 20px;
  display: grid;
}

.contact h1,
.links h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.contact p,
.links a {
  font-size: 1rem;
  margin-bottom: 5px;
  color: white;
  text-decoration: none;
}

.--social-links {
  margin-top: 10px;
}

.--social-links a {
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.social-links a:hover,
.links a:hover {
  text-decoration: underline;
  color: #fff;
}

/* Responsive Design */

/* For larger screens such as desktop */
@media (min-width: 1024px) {
  .first-footer h1 {
    font-size: 2.5rem;
  }

  .subscribe-form input[type="email"] {
    width: 300px;
  }

  .subscribe-form button {
    padding: 10px 25px;
  }

  .--footer-info {
    flex-direction: row;
    text-align: left;
  }

  .--contact, .links {
    padding-right: 20px;
  }
}

/* For tablet screens such as iPad */
@media (max-width: 1023px) and (min-width: 768px) {
  .first-footer h1 {
    font-size: 2rem;
  }

  .subscribe-form {
    flex-direction: row;
    justify-content: center;
  }

  .subscribe-form input[type="email"],
  .subscribe-form button {
    width: auto;
  }

  .--footer-info {
    flex-direction: column;
    text-align: center;
  }

  .--contact,
  .links {
    margin: 10px 0;
    padding-right: 0;
  }
}

/* For mobile screens */
@media (max-width: 767px) {
  .first-footer h1 {
    font-size: 1.5rem;
    text-align: center;
    padding-left: 0; 
  }

  .subscribe-form {
    width: 100%;
    padding: 0 20px; 
    box-sizing: border-box; 
  }

  .subscribe-form input[type="email"],
  .subscribe-form button {
    width: calc(100% - 20px); 
    margin-left: 0;
  }

  .subscribe-form input[type="email"] {
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: none; 
  }

  .subscribe-form button {
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .--footer-info {
    flex-direction: column;
    text-align: center;
    padding: 0 20px; 
  }

  .--contact,
  .links {
    margin: 10px 0;
    padding-right: 0;
    padding-left: 0; 
  }
}
