.blogs-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    width: 100%;
}

.blog-post {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    flex: 1;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.blog-title, .blog-subtitle, .blog-location, .blog-features, .blog-price {
    margin: 0 10px;
}

.blog-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #555;
}

.blog-location {
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #777;
}

.blog-location svg {
    margin-right: 5px;
}

.blog-features {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    color: #777;
    gap: 1px;
}

.blog-features div {
    display: flex;
    align-items: center;
}

.blog-features svg {
    margin-right: 5px;
}

.blog-price {
    font-size: 1.2em;
    color: #007bff;
    font-weight: 600;
}

.read-more {
    display: flex;
    justify-content: flex-end;
}

.read-more button {
    padding: 10px 20px;
    font-size: 1em;
    color: #007bff;
    background-color: transparent;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
}

.read-more button:hover {
    background-color: #007bff;
    color: #fff;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .blog-post {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .blogs-container {
        flex-direction: column;
        align-items: center;
    }

    .title {
        font-size: 1.5em;
    }

    .blog-title {
        font-size: 1.2em;
    }

    .blog-subtitle {
        font-size: 1em;
    }

    .read-more button {
        padding: 8px 16px;
        font-size: 0.9em;
    }
}
